@model RacerUI.Models.DashboardViewModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "Dashboard/_Layout";
}

<div class="console"></div>

<script src="/js/signalr.js"></script>
<script src="/js/dashboard.js"></script>