<div class="grid-details">
    <div class="preview" style="background-image: url('{{preview}}');"></div>
    <div class="info">
        <div class="title">
            <h4>{{name}}</h4>
        </div>
        <div class="track-header">
            <button class="select-track-btn">
                <svg viewBox="0 0 64 64" class="dark">
                    <use xlink:href="#icon-play" x="0" y="0" width="64" height="64"></use>
                </svg>
                <span>Select Track</span>
            </button>
            <div class="track-origin">
                {{has-country}}
                    <div class="track-country" onclick="RacerUI.views.tracks.filterByCountry('{{countryCode}}')">
                        <img class="flag" src="/images/flags/80x60/{{countryCode}}.png" alt="{{country}} flag" />
                        <span>{{country}}</span>
                    </div>
                {{/has-country}}
                {{has-city}}
                    <div class="track-city" onclick="RacerUI.views.tracks.filterByCity('{{city}}')">
                        <span>{{city}}</span>
                    </div>
                {{/has-city}}
                {{has-year}}
                    <div class="track-year" onclick="RacerUI.views.tracks.filterByYear('{{year}}')">
                        <span>{{year}}</span>
                    </div>
                {{/has-year}}
                {{has-type}}
                    <div class="track-type" onclick="RacerUI.views.tracks.filterByType('{{typeId}}')">
                        <span>{{typeName}}</span>
                    </div>
                {{/has-type}}
            </div>
        </div>
        <div class="track-stats">
                {{has-length}}
                    <div><strong>Length:</strong> <span>{{length}}</span></div>
                {{/has-length}}
                {{has-width}}
                    <div><strong>Width:</strong> <span>{{width}}</span></div>
                {{/has-width}}
                {{has-pitboxes}}
                    <div><strong>Pit Boxes:</strong> <span>{{pitBoxes}}</span></div>
                {{/has-pitboxes}}
                {{has-author}}
                    <div class="track-author">
                        <strong>Author:</strong> <span>{{author}}</span>
                    </div>
                {{/has-author}}
        </div>
        {{has-details}}
            <div class="track-description">
                <p>
                    <img class="track-outline-float" src="{{outline}}" onerror="this.style.display='none'" alt="{{name}} track outline" />
                    {{details}}</p>
            </div>
        {{/has-details}}
    </div>
</div>
