<div class="check-assets scale-ui">
    <p>Make sure RacerUI has the latest catalogue of all of your game assets for <span class="game-name">Assetto Corsa</span></p>
    <div class="check-options">
        <label><input type="checkbox" id="checkNewCars" checked> Check for new cars</label>
        <label><input type="checkbox" id="findChildCars" checked> Find child cars</label>
        <label><input type="checkbox" id="getCarDetails" checked> Get Car Details from AI</label>
        <label><input type="checkbox" id="verifyCarDetails" checked> Verify Car Details</label>
    </div>
    <div class="check-options">
        <label><input type="checkbox" id="checkNewTracks" checked> Check for new tracks</label>
        <label><input type="checkbox" id="getTrackDetails" checked> Get Track Details from AI</label>
        <label><input type="checkbox" id="verifyTrackDetails" checked> Verify Track Details</label>
    </div>
    <button onclick="RacerUI.views.game.checkAssets()">Check Game Assets</button>
    <div class="checking-assets" style="display: none;">
        <div class="progress-title"></div>
        <div class="progress-text"></div>
        <div class="progress"><div class="bar"></div></div>
        <div class="skip-btn" onclick="RacerUI.views.game.skipCheckAssets()"><button>Skip</button></div>
    </div>
</div>
<div class="set-game-path scale-ui" style="display: none;">
    <p>Set the path to your game directory</p>
    <input type="text" id="gamePath" placeholder="Game Path">
    <button onclick="RacerUI.views.game.setPath()">Set Path</button>
</div>