.colors() {
    & {
        background-color: @bg;
        color: @color;
    }

    *::-webkit-scrollbar-track {
        background: @view-details-scrollbar-track;
    }

    *::-webkit-scrollbar-thumb {
        background: @view-details-scrollbar-thumb;

        &:hover {
            background: @view-scrollbar-thumb-hover;
        }
    }

    input {
        background-color: @input-bg;
        color: @input-color;
        border-color: @input-border;
    }

    input:focus {
        background-color: @input-focus-bg;
        color: @input-focus-color;
        border-color: @input-focus-border;
    }

    .row.hover:hover {
        background-color: @row-hover;
    }

    a:link {
        color: @link-color;
    }

    a:hover {
        color: @link-hover-color;
    }

    a:active {
        color: @link-active-color;
    }

    a:visited {
        color: @link-visited-color;
    }

    /* menu system */

    nav ul.menu {
        color: @nav-color;

        a {
            color: @nav-color;
        }

        svg use {
            color: @nav-icon-color;
        }

        li {
            background: @nav-bg;
        }

        li:hover {
            color: @nav-color-hover;
            background: @nav-bg-hover;

            svg use {
                color: @nav-icon-color-hover;
            }
        }

        li.selected {
            color: @nav-color-selected;
            background: @nav-bg-selected;

            svg use {
                color: @nav-icon-color-selected;
            }
        }
    }

    /* submenu system */

    .sub-menu {
        background: @submenu-bg;

        input[type="text"] {
            background-color: @submenu-input-bg;
            color: @submenu-input-color;
            border-color: @submenu-input-border-color;
        }

        input[type="text"]:focus {
            background-color: @submenu-input-focus-bg;
            color: @submenu-input-focus-color;
            border-color: @submenu-input-focus-border-color;
        }

        ul.menu {
            color: @submenu-item-color;

            a {
                color: @submenu-item-color;
            }

            svg use {
                color: @submenu-item-icon-color;
            }

            li {
                background: @submenu-item-bg;
            }

            li:hover {
                color: @submenu-item-color-hover;
                background: @submenu-item-bg-hover;

                svg use {
                    color: @submenu-item-icon-color-hover;
                }
            }

            li.selected {
                color: @submenu-item-color-selected;
                background: @submenu-item-bg-selected;

                svg use {
                    color: @submenu-item-icon-color-selected;
                }
            }
        }
    }

    /* buttons */

    button,
    .button {
        background: @button-bg;
        color: @button-color;
    }

    button:hover,
    .button:hover {
        background: @button-hover-bg;
        color: @button-hover-color;
    }

    /* progress bar */

    .progress {
        border-color: @progress-border-color;

        .bar {
            background-image: @progress-bar-image;
        }
    }

    /* select list */
    ul.select-list {
        li {
            background-color: @select-list-bg;
            color: @select-list-color;
        }

        li:hover {
            background-color: @select-list-hover-bg;
            color: @select-list-hover-color;
        }

        li.selected {
            background-color: @select-list-selected-bg;
            color: @select-list-selected-color;
        }
    }

    /* cars and tracks views */
    .cars-filter,
    .tracks-filter {
        background-color: @view-filter-bg;
    }

    .cars-toolbar,
    .tracks-toolbar {
        li.clear-filter-btn {
            &:hover svg use {
                color: @view-section-title-color !important;
            }

            button {
                background: @view-button-bg;
                color: @view-button-color;

                svg use {
                    color: @view-button-color;
                }

                &:hover {
                    background: @view-button-hover-bg;
                    border-color: @view-button-hover-border;
                    color: @view-button-hover-color;

                    use {
                        color: @view-button-hover-icon !important;
                    }
                }
            }
        }
    }

    .filter-class .class-category h3 {
        color: @view-section-title-color;
    }

    .cars-content,
    .tracks-content {

        .grid-view {

            .car,
            .track {
                background-color: @view-item-border;

                .info-top {

                    .car-class,
                    .track-type {
                        background-color: @view-item-class-bg;
                    }

                    .track-length {
                        background-color: @view-item-name-bg;
                    }
                }

                .info {

                    h2 .name,
                    .track-name,
                    .city {
                        background-color: @view-item-name-bg;
                    }
                }

                .flag img {
                    border: 1px solid @view-item-border;
                }

                .track-outline {
                    filter: drop-shadow(0 0 3px @view-item-name-bg);
                }
            }
        }

        .grid-details {
            .info {
                .title {
                    background: @submenu-bg;
                }

                h4 {
                    background-image: url("/images/submenu-bg.png");
                    background-repeat: no-repeat;
                    background-size: 100%;
                }

                .select-car-btn,
                .select-track-btn {
                    background: @view-select-car-bg;
                    color: @view-select-car-color;
                    border: none;

                    svg use {
                        color: @view-select-car-color;
                    }

                    &:hover {
                        background: @view-select-car-hover-bg;
                        color: @view-select-car-hover-color;

                        svg use {
                            color: @view-select-car-hover-color;
                        }
                    }
                }
            }

            .skins {
                background: @view-details-bg;

                .skin-hovered-clone {
                    border: 2px solid @view-hover-border-transparent;
                    box-shadow: 0 0 0 @view-hover-shadow-transparent;
                }
            }

            .car-tabs .car-tab {
                background: @view-tab-bg;
                color: @view-tab-color;

                &:hover {
                    background: @view-tab-hover-bg;
                }

                &.active {
                    background: @view-tab-active-bg;
                }
            }

            .car-origin,
            .track-origin {
                &>div {
                    background: @view-details-bg;
                }

                .car-class:hover,
                .car-country:hover,
                .track-country:hover,
                .track-city:hover,
                .track-year:hover,
                .track-type:hover {
                    background: @view-badge-hover-bg;
                }
            }

            .car-stats,
            .track-stats {
                background: @view-details-bg;

                span {
                    background: @view-badge-bg;
                }
            }

            .car-info,
            .track-description {
                background: @view-details-bg;
            }
        }
    }
}

/* footer */
.footer-container {
    background: @submenu-bg;
    border-top-color: @nav-bg;

    .footer-car-preview,
    .footer-track-preview {
        background-color: @view-details-bg;

        .preview-placeholder {
            color: @submenu-item-color;

            svg use {
                color: @submenu-item-icon-color;
            }
        }
    }

    .footer-session-info {
        color: @submenu-item-color;
    }

    .footer-play-button .play-btn {
        background: @view-select-car-bg;
        color: @view-select-car-color;

        svg use {
            color: @view-select-car-color;
        }

        &:hover:not(:disabled) {
            background: @view-select-car-hover-bg;
            color: @view-select-car-hover-color;

            svg use {
                color: @view-select-car-hover-color;
            }
        }
    }
}