@dark-bg: #101010;
@dark-color: #fafafa;
@dark-row-hover: #335b64;
@dark-bg-glass: rgba(0,0,0,0.8);
/* inputs */
@dark-input-bg: #444;
@dark-input-color: #fff;
@dark-input-border: #2facad; 
/* buttons */
@dark-button-bg: #5cd5d6;
@dark-button-color: #00586c;
@dark-button-hover-bg: #13ccd8;
@dark-button-hover-color: #00586c;
/* nav menu item */
@dark-nav-color:#c5c5c5; 
@dark-nav-icon-color:#38a8ff;
@dark-nav-bg:linear-gradient(to bottom, fade(@dark-bg, 0%) 100%, fade(@dark-bg, 0%) 100%);
/* hovered nav menu item */
@dark-nav-color-hover:#c5c5c5;
@dark-nav-icon-color-hover:#33adff;
@dark-nav-bg-hover:linear-gradient(to bottom, rgba(16, 16, 16, 0) 50%, rgb(8 106 205) 100%);
/* selected nav menu item */
@dark-nav-color-selected:#000; 
@dark-nav-icon-color-selected:#000;
@dark-nav-bg-selected:linear-gradient(to bottom, #8867ed 0%, #5836fa 50%, #148cfb 100%);
/* progress bar */
@dark-progress-bar-image: linear-gradient(65deg, 
    #38a8ff 25%, 
    #5836fa 35%, 
    #38a8ff 45%,
    #38a8ff 65%,
    #5836fa 75%,
    #38a8ff 85%
);
@dark-progress-border-color: #38a8ff;
