@import '../colors/light.less';
@import '../colors/dark.less';

body {
    background-color: @light-bg;
    color: @light-color;
    animation: darkmode-off 0.5s ease-in-out;
    background-image:url('/images/footer.png');
    background-size:cover;
    background-position:bottom left;
    background-repeat:no-repeat;
}

body.dark-mode {
    background-color: @dark-bg;
    background-image:url('/images/footer.png');
    color: @dark-color;
    animation: darkmode-on 0.5s ease-in-out;
}

input { 
    background-color: @light-input-bg;
    color: @light-input-color;
    animation: darkmode-input-off 0.5s ease-in-out;
}

body.dark-mode input {
    background-color: @dark-input-bg;
    color: @dark-input-color;
    animation: darkmode-input-on 0.5s ease-in-out;
}

body.dark-mode .row.hover:hover {
    background-color: @dark-row-hover;
}

a:link {
    color: #8d00f0;
}

a:hover {
    color: #f512ff;
}

a:active {
    color: #e257ff;
}

a:visited {
    color: #eb7d1c;
}

body.dark-mode{
    a:link { 
        color: #0fe4f3;
    }

a:hover {
    color: #2af6ff;
}

a:active {
    color: #2af6ff;
}

    a:visited {
        color: #793d84;
    }
}

@keyframes darkmode-on {
    from {
        background-color: #fafafa;
        color: #333;
    }

    to {
        background-color: #333;
        color: #fafafa;
    }
}

@keyframes darkmode-off {
    from {
        background-color: #333;
        color: #fafafa;
    }

    to {
        background-color: #fafafa;
        color: #333;
    }
}

@keyframes darkmode-input-on {
    from {
        background-color: #effcf9;
        color: #333;
    }

    to {
        background-color: #444;
        color: #fff;
    }
}

@keyframes darkmode-input-off {
    from {
        background-color: #444;
        color: #fff;
    }

    to {
        background-color: #effcf9;
        color: #333;
    }
}

.logo .light{
    position:absolute;
    opacity:1;
    animation: opacity-1 0.5s ease-in-out;
}

.logo .dark{
    opacity:0;
    animation: opacity-0 0.5s ease-in-out;
}

body.dark-mode .logo .light{
    opacity:0;
    animation: opacity-0 0.5s ease-in-out;
}

body.dark-mode .logo .dark{
    opacity:1;
    animation: opacity-1 0.5s ease-in-out;
}

@keyframes opacity-1 {
    from {
        opacity:0
    }

    to {
        opacity:1
    }
}

@keyframes opacity-0 {
    from {
        opacity:1
    }

    to {
        opacity:0
    }
}

/* menu system */

nav ul.menu{
    color:@light-nav-color;
    a{
        color:@light-nav-color;
    }
    svg use{
        color:@light-nav-icon-color;
    }
    li{
        background:@light-nav-bg;
    }
    li:hover{
        color:@light-nav-color-hover;
        background:@light-nav-bg-hover;
        svg use{
            color:@light-nav-icon-color-hover;
        }
    }
    li.selected{
        color:@light-nav-color-selected;
        background:@light-nav-bg-selected;
        svg use{
            color:@light-nav-icon-color-selected;
        }
    }
}

body.dark-mode nav ul.menu{
    color:@dark-nav-color;
    a{
        color:@dark-nav-color;}
    svg use{
        color:@dark-nav-icon-color;
    }
    li{
        background:@dark-nav-bg;
    }
    li:hover{
        color:@dark-nav-color-hover;
        background:@dark-nav-bg-hover;
        svg use{
            color:@dark-nav-icon-color-hover;
        }
    }
    li.selected{
        color:@dark-nav-color-selected;
        background:@dark-nav-bg-selected;
        svg use{
            color:@dark-nav-icon-color-selected;
        }
    }
}

/* submenu system */

.sub-menu{
    background: @light-nav-submenu-bg; 

    input[type="text"]{
        background-color: @light-submenu-input-bg;
        color: @light-submenu-input-color;
        border-color:@light-submenu-input-border-color;
    }

    input[type="text"]:focus{
        background-color: @light-submenu-input-focus-bg;
        color: @light-submenu-input-focus-color;
        border-color:@light-submenu-input-focus-border-color;
    }

    ul.menu{
        color:@light-nav-submenu-item-color;
        a{
            color:@light-nav-submenu-item-color;
        }
        svg use{
            color:@light-nav-submenu-item-icon-color;
        }
        li{
            background:@light-nav-submenu-item-bg;
        }
        li:hover{
            color:@light-nav-submenu-item-color-hover;
            background:@light-nav-submenu-item-bg-hover;
            svg use{
                color:@light-nav-submenu-item-icon-color-hover;
            }
        }
        li.selected{
            color:@light-nav-submenu-item-color-selected;
            background:@light-nav-submenu-item-bg-selected;
            svg use{
                color:@light-nav-submenu-item-icon-color-selected;
            }
        }
    }
}

body.dark-mode .sub-menu{
    background: @dark-nav-submenu-bg; 

    input[type="text"]{
        background-color: @dark-submenu-input-bg;
        color: @dark-submenu-input-color;
        border-color:@dark-submenu-input-border-color;
    }

    ul.menu{
        color:@dark-nav-submenu-item-color;
        a{
            color:@dark-nav-submenu-item-color;}
        svg use{
            color:@dark-nav-submenu-item-icon-color;
        }
        li{
            background:@dark-nav-submenu-item-bg;
        }
        li:hover{
            color:@dark-nav-submenu-item-color-hover;
            background:@dark-nav-submenu-item-bg-hover;
            svg use{
                color:@dark-nav-submenu-item-icon-color-hover;
            }
        }
        li.selected{
            color:@dark-nav-submenu-item-color-selected;
            background:@dark-nav-submenu-item-bg-selected;
            svg use{
                color:@dark-nav-submenu-item-icon-color-selected;
            }
        }
    }
}

/* buttons */

button, .button {
    background: @light-button-bg;
    color: @light-button-color;
}

button:hover, .button:hover {
    background: @light-button-hover-bg;
    color: @light-button-hover-color;
}

body.dark-mode button, 
body.dark-mode .button {
    background: @dark-button-bg;
    color: @dark-button-color;
}

body.dark-mode button:hover, 
body.dark-mode .button:hover {
    background: @dark-button-hover-bg;
    color: @dark-button-hover-color;
}

/* progress bar */

.progress{
    border-color:@light-progress-border-color;
    .bar{
        background-image:@light-progress-bar-image;
    }
}

body.dark-mode .progress{
    border-color:@dark-progress-border-color;
    .bar{
        background-image:@dark-progress-bar-image;
    }
}

/* select list */
ul.select-list{
    li{
        background-color:@dark-select-list-bg;
        color:@dark-select-list-color;
    }
    li:hover{
        background-color:@dark-select-list-hover-bg;
        color:@dark-select-list-hover-color;
    }
    li.selected{
        background-color:@dark-select-list-selected-bg;
        color:@dark-select-list-selected-color;
    }
}
