body{
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
    line-height:0;
}

body .game-loaded{
    display:none !important;
}

.dash {
    user-select: none;
    grid-row: 1;
    nav {
        /*max-width: calc(1920px * var(--scale-factor));*/
        /*width:100%;*/
        height: calc(76px * var(--scale-factor));
        display: block;
        line-height:1.35;
        padding: 1em 1em 0 1em;

        & > * {
            display:inline-block;
        }

        .logo{
            width:10em;
        }

        .arrow{
            vertical-align: top;
            height:3.8em;
            color:#5a71d6;
            svg{
                width:1em;
                margin-top:calc(3.8em / 2 - 0.4em);
                margin-left:1.5em;
                margin-right:-1.5em;
            }
        }

        darkmode-toggle{
            float:right;
            margin-top:1.25em;
        }

        .game-default-name{
            display:none;
        }

        & > .dropdown-menu {
            float:right;
            ul {
                list-style: none;

                li {
                    display: inline-block;
                    padding: 0.5em 1em;
                    cursor:pointer;
                }
            }
        }

        & > ul.menu{
            list-style:none;
            font-size:1.6em;
            padding:0 2em;
            margin:0;
            vertical-align:top;
            li{
                display:inline-block;
                padding:0.5em 1em;
                cursor:pointer;
                white-space: nowrap;
                transition: all 0.25s ease-in-out;
                transform:skewX(-10deg);
                svg{
                    width: 1em;
                    margin-right:0.5em;
                    vertical-align: middle;
                }
                a{
                    text-decoration:none;
                }
            }

            li.item-game svg{
                width:1.1em;
            }

            li.item-cars svg{
                width:2.5em;
            }

            li.item-tracks svg{
                width:1.3em;
                position: relative;
                left: 0.3em;
                top: -0.2em;
            }

            li.item-history svg{
                width:1.3em;
            }

            li.item-profile svg{
                width:1.4em;
            }

            li.item-settings svg{
                width:1.3em;
            }
        }
    }
    .sub-menu{
        font-size:0.8em;
        height: calc(48px * var(--scale-factor));
        nav{
            background-image:url("/images/submenu-bg.png");
            background-repeat:no-repeat;
            background-size:100%;
            margin:0;
            padding:0;
            height:3.7em;
        }
    }
}
input::focus{
    border-width:3px;
}
.footer{
    grid-row: 2;
    padding: 1em 1em 2em 1em;
    max-width: 100vw;
    darkmode-toggle{
        float:right;
        margin:0 0 0 1em;
    }
}

ul.select-list{
    list-style-type:none;
    padding:0 2em 2em 2em;
    li{
        display:inline-block;
        padding:1em 3em;
        margin:0.25em;
        border-radius:1em;
        background-color:#ccc;
        cursor:pointer;
        a{
            text-decoration:none;
        }
    }
}

@media screen and (max-width: 1630px) {
    .dash nav{
        height:76px;
    }
}

@media screen and (max-width: 1480px) {
    .dash > nav{
        height:60px;
        font-size:0.8em;
        ul.menu{
            li{
                padding:0.5em 0.5em;
            }
        }
    }
}


@media screen and (max-width: 1070px) {
    .dash > nav{
        height:46px;
        font-size:0.6em;
        ul.menu{
            li{
                padding:0.5em 0.25em;
            }
        }
    }
}


@media screen and (max-width: 760px) {
    .dash > nav{
        height:30px;
        font-size:0.4em;
        ul.menu{
            li{
                padding:0.5em 0.15em;
            }
        }
    }
}@media screen and (max-width: 560px) {
    .dash > nav{
        #gameName{
            display:none;
        }
        .game-default-name{
            display:inline-block !important;
        }
    }
}