.dash {
    nav {
        width: 100%;
        display: block;

        & > * {
            display:inline-block;
        }

        .logo{
            width:10em;
        }

        .arrow{
            vertical-align: top;
            height:3.8em;
            color:#5a71d6;
            svg{
                width:1em;
                margin-top:calc(3.8em / 2 - 0.4em);
                margin-left:1.5em;
                margin-right:-1.5em;
            }
        }

        darkmode-toggle{
            float:right;
            margin-top:1.25em;
        }

        & > .dropdown-menu {
            float:right;
            ul {
                list-style: none;

                li {
                    display: inline-block;
                    padding: 0.5em 1em;
                    cursor:pointer;
                }
            }
        }

        & > ul.menu{
            list-style:none;
            font-size:1.6em;
            padding:0 2em;
            margin:0;
            vertical-align:top;
            li{
                display:inline-block;
                padding:0.5em 1em;
                cursor:pointer;
                white-space: nowrap;
                transition: all 0.25s ease-in-out;
                transform:skewX(-10deg);
                svg{
                    width: 1em;
                    margin-right:0.5em;
                    vertical-align: middle;
                }
            }

            li.item-game svg{
                width:1.1em;
            }

            li.item-cars svg{
                width:2.5em;
            }

            li.item-tracks svg{
                width:1.3em;
                position: relative;
                left: 0.3em;
                top: -0.2em;
            }

            li.item-history svg{
                width:1.3em;
            }
        }
    }
}
