input {
    padding: 0.5em;
    border-radius: 0.25em;
    outline: none;
    border: solid 2px @light-input-border;
    width: 100%;
    box-sizing: border-box;
}

button, .button {
    border: 0;
    border-radius: 2em;
    padding: 0.75em 1.25em;
    cursor: pointer;
    font-size:1.25em;
    transform:skewX(-10deg);
}

.buttons {
    text-align: right;
    padding: 1em 0 0 0;
}