/* nav menu item */
/* hovered nav menu item */
/* selected nav menu item */
body {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 87.5;
  transform-origin: top left;
  max-width: 1920px;
  min-height: 100vh;
  overflow: hidden;
}
* {
  transition: all 0.25s ease-in-out;
  box-sizing: border-box;
}
.row,
.col {
  box-sizing: border-box;
}
.row {
  width: 100%;
  display: block;
}
.row.hover:hover {
  background: #c7f4eb;
}
.col {
  display: inline-block;
}
.col.field {
  text-align: right;
  padding: 0.5em;
  width: 8em;
  cursor: default;
}
.col.field.long {
  width: 12em;
}
.col.input {
  padding: 0.5em;
  width: calc(100% - 8.5em);
}
.col.input.short {
  width: calc(100% - 12.5em);
}
input {
  padding: 0.5em;
  border-radius: 0.25em;
  outline: none;
  border: solid 2px #2facad;
  width: 100%;
  box-sizing: border-box;
}
button,
.button {
  background: #5cd5d6;
  color: #00586c;
  border: 0;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  cursor: pointer;
}
button:hover,
.button:hover {
  background: #13ccd8;
  color: #00586c;
}
.buttons {
  text-align: right;
  padding: 1em 0 0 0;
}
.logo {
  position: relative;
}
.logo svg {
  width: 100%;
}
.init {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  z-index: 10000;
}
.init.fade {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  animation: fade-init 0.5s ease-in;
}
@keyframes fade-init {
  from {
    background: #000;
  }
  to {
    background: rgba(0, 0, 0, 0);
  }
}
.toggle {
  display: inline-block;
  width: 3.5em;
  height: 1.5em;
  border: 2px solid #fafafa;
  outline: 2px solid #333;
  border-radius: 2em;
  background: #3eafe6;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  animation: toggle-off 0.3s ease-in;
  font-size: 1em;
}
.toggle .material-symbols-outlined {
  font-size: 1.25em;
}
.toggle .switch {
  width: 1.25em;
  height: 1.25em;
  left: 0;
  background: #333;
  border-radius: 5em;
  position: relative;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  animation: toggle-switch-off 0.3s ease-in;
}
.toggle .switch .light {
  position: absolute;
  color: #fff4b4;
  right: -1.25em;
}
.toggle .switch .dark {
  position: absolute;
  color: #fff4b4;
  left: -1.25em;
}
.toggle.on {
  background: #666;
  border: 2px solid #333;
  outline: 2px solid #fafafa;
  animation: toggle-on 0.3s ease-in;
}
.toggle.on .switch {
  left: 2em;
  animation: toggle-switch-on 0.3s ease-in;
}
.toggle-dark-mode {
  width: 10em;
}
.toggle-dark-mode > span {
  display: inline-block;
  vertical-align: super;
  padding-right: 0.5em;
}
.toggle-dark-mode .toggle {
  margin: 0 auto;
}
@keyframes toggle-switch-on {
  from {
    left: 0em;
  }
  to {
    left: 2em;
  }
}
@keyframes toggle-switch-off {
  from {
    left: 2em;
  }
  to {
    left: 0em;
  }
}
@keyframes toggle-on {
  from {
    background: #3eafe6;
  }
  to {
    background: #666;
  }
}
@keyframes toggle-off {
  from {
    background: #666;
  }
  to {
    background: #3eafe6;
  }
}
.dash nav {
  width: 100%;
  display: block;
}
.dash nav > * {
  display: inline-block;
}
.dash nav .logo {
  width: 10em;
}
.dash nav .arrow {
  vertical-align: top;
  height: 3.8em;
  color: #5a71d6;
}
.dash nav .arrow svg {
  width: 1em;
  margin-top: calc(3.8em / 2 - 0.4em);
  margin-left: 1.5em;
  margin-right: -1.5em;
}
.dash nav darkmode-toggle {
  float: right;
  margin-top: 1.25em;
}
.dash nav > .dropdown-menu {
  float: right;
}
.dash nav > .dropdown-menu ul {
  list-style: none;
}
.dash nav > .dropdown-menu ul li {
  display: inline-block;
  padding: 0.5em 1em;
  cursor: pointer;
}
.dash nav > ul.menu {
  list-style: none;
  font-size: 1.6em;
  padding: 0 2em;
  margin: 0;
  vertical-align: top;
}
.dash nav > ul.menu li {
  display: inline-block;
  padding: 0.5em 1em;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.25s ease-in-out;
  transform: skewX(-10deg);
}
.dash nav > ul.menu li svg {
  width: 1em;
  margin-right: 0.5em;
  vertical-align: middle;
}
.dash nav > ul.menu li.item-game svg {
  width: 1.1em;
}
.dash nav > ul.menu li.item-cars svg {
  width: 2.5em;
}
.dash nav > ul.menu li.item-tracks svg {
  width: 1.3em;
  position: relative;
  left: 0.3em;
  top: -0.2em;
}
.dash nav > ul.menu li.item-history svg {
  width: 1.3em;
}
/* nav menu item */
/* hovered nav menu item */
/* selected nav menu item */
body {
  background-color: #fafafa;
  color: #333;
  animation: darkmode-off 0.5s ease-in-out;
  background-image: url('/images/footer.png');
  background-size: contain;
  background-position: bottom left;
  background-repeat: no-repeat;
}
body.dark-mode {
  background-color: #101010;
  background-image: url('/images/footer.png');
  color: #fafafa;
  animation: darkmode-on 0.5s ease-in-out;
}
input {
  background-color: #effcf9;
  color: #333;
  animation: darkmode-input-off 0.5s ease-in-out;
}
body.dark-mode input {
  background-color: #444;
  color: #fff;
  animation: darkmode-input-on 0.5s ease-in-out;
}
body.dark-mode .row.hover:hover {
  background-color: #335b64;
}
a:link {
  color: #8d00f0;
}
a:hover {
  color: #f512ff;
}
a:active {
  color: #e257ff;
}
a:visited {
  color: #eb7d1c;
}
body.dark-mode a:link {
  color: #0fe4f3;
}
body.dark-mode a:hover {
  color: #2af6ff;
}
body.dark-mode a:active {
  color: #2af6ff;
}
body.dark-mode a:visited {
  color: #793d84;
}
@keyframes darkmode-on {
  from {
    background-color: #fafafa;
    color: #333;
  }
  to {
    background-color: #333;
    color: #fafafa;
  }
}
@keyframes darkmode-off {
  from {
    background-color: #333;
    color: #fafafa;
  }
  to {
    background-color: #fafafa;
    color: #333;
  }
}
@keyframes darkmode-input-on {
  from {
    background-color: #effcf9;
    color: #333;
  }
  to {
    background-color: #444;
    color: #fff;
  }
}
@keyframes darkmode-input-off {
  from {
    background-color: #444;
    color: #fff;
  }
  to {
    background-color: #effcf9;
    color: #333;
  }
}
.logo .light {
  position: absolute;
  opacity: 1;
  animation: opacity-1 0.5s ease-in-out;
}
.logo .dark {
  opacity: 0;
  animation: opacity-0 0.5s ease-in-out;
}
body.dark-mode .logo .light {
  opacity: 0;
  animation: opacity-0 0.5s ease-in-out;
}
body.dark-mode .logo .dark {
  opacity: 1;
  animation: opacity-1 0.5s ease-in-out;
}
@keyframes opacity-1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes opacity-0 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
nav ul.menu {
  color: #333333;
}
nav ul.menu svg use {
  color: #9a9a9a;
}
nav ul.menu li {
  background: linear-gradient(to bottom, rgba(250, 250, 250, 0) 0%, rgba(0, 228, 176, 0) 50%, rgba(147, 216, 255, 0) 100%);
}
nav ul.menu li:hover {
  color: #333333;
  background: linear-gradient(to bottom, rgba(54 225 145 / 0%) 0%, rgba(0, 197, 132, 0) 50%, #6af3ce 100%);
}
nav ul.menu li:hover svg use {
  color: #14a193;
}
nav ul.menu li.selected {
  color: #fff;
  background: linear-gradient(to bottom, rgba(87, 253, 197, 0.82) 0%, rgba(0, 126, 213, 0.82) 50%, #30d7ea 100%);
}
nav ul.menu li.selected svg use {
  color: #fff;
}
body.dark-mode nav ul.menu {
  color: #c5c5c5;
}
body.dark-mode nav ul.menu svg use {
  color: #38a8ff;
}
body.dark-mode nav ul.menu li {
  background: linear-gradient(to bottom, rgba(16, 16, 16, 0) 100%, rgba(16, 16, 16, 0) 100%);
}
body.dark-mode nav ul.menu li:hover {
  color: #c5c5c5;
  background: linear-gradient(to bottom, rgba(16, 16, 16, 0) 50%, #086acd 100%);
}
body.dark-mode nav ul.menu li:hover svg use {
  color: #33adff;
}
body.dark-mode nav ul.menu li.selected {
  color: #000;
  background: linear-gradient(to bottom, #8867ed 0%, #5836fa 50%, #148cfb 100%);
}
body.dark-mode nav ul.menu li.selected svg use {
  color: #000;
}
/* This file is used for the dashboard after the user logs into their account */
