/* inputs */
/* links */
/* buttons */
/* nav menu item */
/* hovered nav menu item */
/* selected nav menu item */
/* progress bar */
/* submenu */
/* nav submenu item */
/* hovered nav submenu item */
/* selected nav submenu item */
/* submenu input */
/* select list */
body {
  background-color: #fafafa;
  color: #333;
  /* menu system */
  /* submenu system */
  /* buttons */
  /* progress bar */
  /* select list */
}
body input {
  background-color: #effcf9;
  color: #333;
  border-color: #2facad;
}
body input:focus {
  background-color: #effcf9;
  color: #333;
  border-color: #2facad;
}
body .row.hover:hover {
  background-color: #c7f4eb;
}
body a:link {
  color: #8d00f0;
}
body a:hover {
  color: #f512ff;
}
body a:active {
  color: #e257ff;
}
body a:visited {
  color: #eb7d1c;
}
body nav ul.menu {
  color: #333333;
}
body nav ul.menu a {
  color: #333333;
}
body nav ul.menu svg use {
  color: #9a9a9a;
}
body nav ul.menu li {
  background: linear-gradient(to bottom, rgba(250, 250, 250, 0) 0%, rgba(0, 228, 176, 0) 50%, rgba(147, 216, 255, 0) 100%);
}
body nav ul.menu li:hover {
  color: #333333;
  background: linear-gradient(to bottom, rgba(54 225 145 / 0%) 0%, rgba(0, 197, 132, 0) 50%, #6af3ce 100%);
}
body nav ul.menu li:hover svg use {
  color: #14a193;
}
body nav ul.menu li.selected {
  color: #fff;
  background: linear-gradient(to bottom, rgba(87, 253, 197, 0.82) 0%, rgba(0, 126, 213, 0.82) 50%, #30d7ea 100%);
}
body nav ul.menu li.selected svg use {
  color: #fff;
}
body .sub-menu {
  background: linear-gradient(to bottom, #aceaf2 0%, #9acdd300 100%);
}
body .sub-menu input[type="text"] {
  background-color: #dcf4ef;
  color: #333;
  border-color: #5dd1d7;
}
body .sub-menu input[type="text"]:focus {
  background-color: #dcf4ef;
  color: #333;
  border-color: #5dd1d7;
}
body .sub-menu ul.menu {
  color: #333333;
}
body .sub-menu ul.menu a {
  color: #333333;
}
body .sub-menu ul.menu svg use {
  color: #38a8ff;
}
body .sub-menu ul.menu li {
  background: linear-gradient(to bottom, rgba(250, 250, 250, 0) 100%, rgba(250, 250, 250, 0) 100%);
}
body .sub-menu ul.menu li:hover {
  color: #333333;
  background: linear-gradient(to bottom, rgba(16, 16, 16, 0) 50%, #086acd 100%);
}
body .sub-menu ul.menu li:hover svg use {
  color: #33adff;
}
body .sub-menu ul.menu li.selected {
  color: #000;
  background: linear-gradient(to bottom, rgba(87, 253, 197, 0.82) 0%, rgba(0, 126, 213, 0.82) 50%, #30d7ea 100%);
}
body .sub-menu ul.menu li.selected svg use {
  color: #000;
}
body button,
body .button {
  background: #5cd5d6;
  color: #00586c;
}
body button:hover,
body .button:hover {
  background: #13ccd8;
  color: #00586c;
}
body .progress {
  border-color: #5cd5d6;
}
body .progress .bar {
  background-image: linear-gradient(45deg, #5cd5d6 25%, #38a8ff 35%, #5cd5d6 45%, #5cd5d6 65%, #38a8ff 75%, #5cd5d6 85%);
}
body ul.select-list li {
  background-color: #a2c3f0;
  color: #333;
}
body ul.select-list li:hover {
  background-color: #77a8ed;
  color: #333;
}
body ul.select-list li.selected {
  background-color: #297eff;
  color: #000;
}
