.login-title {
    margin: 0 auto;
    text-align: center;
    max-width: 50em;
    width: 100%;
    box-sizing: border-box;
    padding: 4em;
}

.login-title .logo {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
}

.login-title .logo img {
    width: 100%;
}

.login-box {
    padding: 50px 20px;
    max-width: 25em;
    width: 100%;
    margin: 0 auto;
}

button.login{
    padding:0.75em 2em;
    font-size:1.075em;
}
