body {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 87.5;
  min-height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  animation: darkmode-off 0.5s ease-in-out;
  background-image: url('/images/footer.png');
  background-size: cover;
  background-position: bottom left;
  background-repeat: no-repeat;
}
.scale-ui {
  transform-origin: top left;
  max-width: 1920px;
}
.svg-assets {
  display: fixed;
  top: -99em;
  left: -99em;
  width: 0;
  height: 0;
}
/*
* {transition: all 0.25s ease-in-out; box-sizing: border-box;}
*/
.row,
.col {
  box-sizing: border-box;
}
.row {
  width: 100%;
  display: block;
}
.col {
  display: inline-block;
}
.col.field {
  text-align: right;
  padding: 0.5em;
  width: 8em;
  cursor: default;
}
.col.field.long {
  width: 12em;
}
.col.input {
  padding: 0.5em;
  width: calc(100% - 8.5em);
}
.col.input.short {
  width: calc(100% - 12.5em);
}
.logo {
  position: relative;
}
.logo svg {
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin: 0;
  padding: 0;
}
p {
  font-size: 1.25em;
  line-height: 1.5;
}
.right {
  float: right;
}
.left {
  float: left;
}
.align-right {
  text-align: right;
}
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
/* logo */
.logo .light {
  position: absolute;
  opacity: 1;
  animation: opacity-1 0.5s ease-in-out;
}
.logo .dark {
  opacity: 0;
  animation: opacity-0 0.5s ease-in-out;
}
body.dark-mode .logo .light {
  opacity: 0;
  animation: opacity-0 0.5s ease-in-out;
}
body.dark-mode .logo .dark {
  opacity: 1;
  animation: opacity-1 0.5s ease-in-out;
}
@keyframes opacity-1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes opacity-0 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.init {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  z-index: 10000;
}
.init.fade {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  animation: fade-init 0.5s ease-in;
}
@keyframes fade-init {
  from {
    background: #000;
  }
  to {
    background: rgba(0, 0, 0, 0);
  }
}
darkmode-toggle.scale-us {
  width: calc(160px * var(--scale-factor));
  max-height: calc(24px * var(--scale-factor));
}
.toggle {
  display: inline-block;
  width: 3.5em;
  height: 1.5em;
  border: 2px solid #fafafa;
  outline: 2px solid #333;
  border-radius: 2em;
  background: #3eafe6;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  box-sizing: border-box;
  animation: toggle-off 0.3s ease-in;
  font-size: 1em;
}
.toggle .material-symbols-outlined {
  font-size: 1.25em;
}
.toggle .switch {
  width: 1.25em;
  height: 1.25em;
  left: 0;
  background: #333;
  border-radius: 5em;
  position: relative;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  animation: toggle-switch-off 0.3s ease-in;
}
.toggle .switch .light {
  position: absolute;
  color: #fff4b4;
  right: -1.25em;
}
.toggle .switch .dark {
  position: absolute;
  color: #fff4b4;
  left: -1.25em;
}
.toggle.on {
  background: #666;
  border: 2px solid #333;
  outline: 2px solid #fafafa;
  animation: toggle-on 0.3s ease-in;
}
.toggle.on .switch {
  left: 2em;
  animation: toggle-switch-on 0.3s ease-in;
}
.toggle-dark-mode {
  width: calc(10em * var(--scale-factor));
  height: calc(1.5em * var(--scale-factor));
}
.toggle-dark-mode > span {
  display: inline-block;
  vertical-align: super;
  padding-right: 0.5em;
}
.toggle-dark-mode .toggle {
  margin: 0 auto;
}
@keyframes toggle-switch-on {
  from {
    left: 0em;
  }
  to {
    left: 2em;
  }
}
@keyframes toggle-switch-off {
  from {
    left: 2em;
  }
  to {
    left: 0em;
  }
}
@keyframes toggle-on {
  from {
    background: #3eafe6;
  }
  to {
    background: #666;
  }
}
@keyframes toggle-off {
  from {
    background: #666;
  }
  to {
    background: #3eafe6;
  }
}
/* inputs */
/* links */
/* buttons */
/* nav menu item */
/* hovered nav menu item */
/* selected nav menu item */
/* progress bar */
/* submenu */
/* nav submenu item */
/* hovered nav submenu item */
/* selected nav submenu item */
/* submenu input */
/* select list */
body {
  background-color: #101010;
  color: #fafafa;
  /* menu system */
  /* submenu system */
  /* buttons */
  /* progress bar */
  /* select list */
}
body input {
  background-color: #444;
  color: #fff;
  border-color: #2facad;
}
body input:focus {
  background-color: #444;
  color: #fff;
  border-color: #2facad;
}
body .row.hover:hover {
  background-color: #335b64;
}
body a:link {
  color: #8d00f0;
}
body a:hover {
  color: #f512ff;
}
body a:active {
  color: #e257ff;
}
body a:visited {
  color: #eb7d1c;
}
body nav ul.menu {
  color: #c5c5c5;
}
body nav ul.menu a {
  color: #c5c5c5;
}
body nav ul.menu svg use {
  color: #38a8ff;
}
body nav ul.menu li {
  background: linear-gradient(to bottom, rgba(16, 16, 16, 0) 100%, rgba(16, 16, 16, 0) 100%);
}
body nav ul.menu li:hover {
  color: #c5c5c5;
  background: linear-gradient(to bottom, rgba(16, 16, 16, 0) 50%, #086acd 100%);
}
body nav ul.menu li:hover svg use {
  color: #33adff;
}
body nav ul.menu li.selected {
  color: #000;
  background: linear-gradient(to bottom, #8867ed 0%, #5836fa 50%, #148cfb 100%);
}
body nav ul.menu li.selected svg use {
  color: #000;
}
body .sub-menu {
  background: linear-gradient(to bottom, #121a47 0%, rgba(18, 26, 71, 0) 100%);
}
body .sub-menu input[type="text"] {
  background-color: #071751;
  color: #fff;
  border-color: #2f6dad;
}
body .sub-menu input[type="text"]:focus {
  background-color: #071751;
  color: #fff;
  border-color: #0080ff;
}
body .sub-menu ul.menu {
  color: #c5c5c5;
}
body .sub-menu ul.menu a {
  color: #c5c5c5;
}
body .sub-menu ul.menu svg use {
  color: #38a8ff;
}
body .sub-menu ul.menu li {
  background: linear-gradient(to bottom, rgba(16, 16, 16, 0) 100%, rgba(16, 16, 16, 0) 100%);
}
body .sub-menu ul.menu li:hover {
  color: #c5c5c5;
  background: linear-gradient(to bottom, rgba(16, 16, 16, 0) 50%, #057d96 100%);
}
body .sub-menu ul.menu li:hover svg use {
  color: #33adff;
}
body .sub-menu ul.menu li.selected {
  color: #000;
  background: linear-gradient(to bottom, #6b4ec4 0%, #265a98 50%, #0a7c76 100%);
}
body .sub-menu ul.menu li.selected svg use {
  color: #000;
}
body button,
body .button {
  background: #5cd5d6;
  color: #00586c;
}
body button:hover,
body .button:hover {
  background: #13ccd8;
  color: #00586c;
}
body .progress {
  border-color: #38a8ff;
}
body .progress .bar {
  background-image: linear-gradient(65deg, #38a8ff 25%, #5836fa 35%, #38a8ff 45%, #38a8ff 65%, #5836fa 75%, #38a8ff 85%);
}
body ul.select-list li {
  background-color: #2f1f67;
  color: #fff;
}
body ul.select-list li:hover {
  background-color: #3b2199;
  color: #fff;
}
body ul.select-list li.selected {
  background-color: #297eff;
  color: #fff;
}
/* inputs */
/* links */
/* buttons */
/* nav menu item */
/* hovered nav menu item */
/* selected nav menu item */
/* progress bar */
/* submenu */
/* nav submenu item */
/* hovered nav submenu item */
/* selected nav submenu item */
/* submenu input */
/* select list */
body.dark-mode {
  background-color: #101010;
  color: #fafafa;
  /* menu system */
  /* submenu system */
  /* buttons */
  /* progress bar */
  /* select list */
}
body.dark-mode input {
  background-color: #444;
  color: #fff;
  border-color: #2facad;
}
body.dark-mode input:focus {
  background-color: #444;
  color: #fff;
  border-color: #2facad;
}
body.dark-mode .row.hover:hover {
  background-color: #335b64;
}
body.dark-mode a:link {
  color: #8d00f0;
}
body.dark-mode a:hover {
  color: #f512ff;
}
body.dark-mode a:active {
  color: #e257ff;
}
body.dark-mode a:visited {
  color: #eb7d1c;
}
body.dark-mode nav ul.menu {
  color: #c5c5c5;
}
body.dark-mode nav ul.menu a {
  color: #c5c5c5;
}
body.dark-mode nav ul.menu svg use {
  color: #38a8ff;
}
body.dark-mode nav ul.menu li {
  background: linear-gradient(to bottom, rgba(16, 16, 16, 0) 100%, rgba(16, 16, 16, 0) 100%);
}
body.dark-mode nav ul.menu li:hover {
  color: #c5c5c5;
  background: linear-gradient(to bottom, rgba(16, 16, 16, 0) 50%, #086acd 100%);
}
body.dark-mode nav ul.menu li:hover svg use {
  color: #33adff;
}
body.dark-mode nav ul.menu li.selected {
  color: #000;
  background: linear-gradient(to bottom, #8867ed 0%, #5836fa 50%, #148cfb 100%);
}
body.dark-mode nav ul.menu li.selected svg use {
  color: #000;
}
body.dark-mode .sub-menu {
  background: linear-gradient(to bottom, #121a47 0%, rgba(18, 26, 71, 0) 100%);
}
body.dark-mode .sub-menu input[type="text"] {
  background-color: #071751;
  color: #fff;
  border-color: #2f6dad;
}
body.dark-mode .sub-menu input[type="text"]:focus {
  background-color: #071751;
  color: #fff;
  border-color: #0080ff;
}
body.dark-mode .sub-menu ul.menu {
  color: #c5c5c5;
}
body.dark-mode .sub-menu ul.menu a {
  color: #c5c5c5;
}
body.dark-mode .sub-menu ul.menu svg use {
  color: #38a8ff;
}
body.dark-mode .sub-menu ul.menu li {
  background: linear-gradient(to bottom, rgba(16, 16, 16, 0) 100%, rgba(16, 16, 16, 0) 100%);
}
body.dark-mode .sub-menu ul.menu li:hover {
  color: #c5c5c5;
  background: linear-gradient(to bottom, rgba(16, 16, 16, 0) 50%, #057d96 100%);
}
body.dark-mode .sub-menu ul.menu li:hover svg use {
  color: #33adff;
}
body.dark-mode .sub-menu ul.menu li.selected {
  color: #000;
  background: linear-gradient(to bottom, #6b4ec4 0%, #265a98 50%, #0a7c76 100%);
}
body.dark-mode .sub-menu ul.menu li.selected svg use {
  color: #000;
}
body.dark-mode button,
body.dark-mode .button {
  background: #5cd5d6;
  color: #00586c;
}
body.dark-mode button:hover,
body.dark-mode .button:hover {
  background: #13ccd8;
  color: #00586c;
}
body.dark-mode .progress {
  border-color: #38a8ff;
}
body.dark-mode .progress .bar {
  background-image: linear-gradient(65deg, #38a8ff 25%, #5836fa 35%, #38a8ff 45%, #38a8ff 65%, #5836fa 75%, #38a8ff 85%);
}
body.dark-mode ul.select-list li {
  background-color: #2f1f67;
  color: #fff;
}
body.dark-mode ul.select-list li:hover {
  background-color: #3b2199;
  color: #fff;
}
body.dark-mode ul.select-list li.selected {
  background-color: #297eff;
  color: #fff;
}
body {
  background-color: transparent !important;
  transform-origin: top left;
  max-width: 1920px;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background-size: cover !important;
}
body.dark-mode {
  background-color: transparent !important;
}
.bg-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fafafa;
  animation: bg-overlay-light-mode 0.5s ease-in-out;
}
.dark-mode .bg-overlay {
  background: rgba(0, 0, 0, 0.8);
  animation: bg-overlay-dark-mode 0.5s ease-in-out;
}
@keyframes bg-overlay-dark-mode {
  from {
    background: #fafafa;
  }
  to {
    background: rgba(0, 0, 0, 0.8);
  }
}
@keyframes bg-overlay-light-mode {
  from {
    background: rgba(0, 0, 0, 0.8);
  }
  to {
    background: #fafafa;
  }
}
.login-section {
  position: relative;
  z-index: 1;
}
.login-title {
  margin: 0 auto;
  text-align: center;
  max-width: 50em;
  width: 100%;
  box-sizing: border-box;
  padding: 4em 4em 0 4em;
}
.login-title .logo {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  position: relative;
}
.login-title .logo .light {
  position: absolute;
  opacity: 1;
  animation: logo-light-on 0.5s ease-in-out;
}
.login-title .logo .dark {
  opacity: 0;
  animation: logo-dark-off 0.5s ease-in-out;
}
body.dark-mode .login-title .logo .light {
  opacity: 0;
  animation: logo-light-off 0.5s ease-in-out;
}
body.dark-mode .login-title .logo .dark {
  opacity: 1;
  animation: logo-dark-on 0.5s ease-in-out;
}
@keyframes logo-light-on {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes logo-light-off {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes logo-dark-on {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes logo-dark-off {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.login-title .logo img {
  width: 100%;
}
.login-box {
  padding: 50px 20px;
  max-width: 25em;
  width: 100%;
  margin: 0 auto;
}
.toggle-dark-mode {
  padding: 3em 0 0 0;
  margin: 0 auto;
  text-align: center;
}
.toggle-dark-mode .toggle {
  margin: 0 auto;
}
button.login {
  padding: 0.75em 2em;
  font-size: 1.075em;
  position: relative;
}
button.login img {
  position: absolute;
  right: 5px;
  height: 100%;
}
button.login .tire-tracks {
  width: 0;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
button.login .tire-tracks img:first-child {
  opacity: 1;
  right: -4px;
  animation: button-login 0.3s ease-in-out;
}
button.login .tire-tracks img:last-child {
  position: relative;
  opacity: 0;
  left: -151px;
  animation: button-login-hover 0.3s ease-in-out;
}
button.login:hover .tire-tracks img:first-child {
  opacity: 0;
  animation: button-login-hover 0.3s ease-in-out;
}
button.login:hover .tire-tracks img:last-child {
  opacity: 1;
  animation: button-login 0.3s ease-in-out;
}
@keyframes button-login {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes button-login-hover {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.login-footer {
  width: 100%;
  max-width: 50em;
  margin: 0 auto;
  padding-top: 2em;
  text-align: center;
}
