.content.game{
    .check-assets{
        padding:2em;
        text-align:center;
        width:100%;
        p{
            padding:2em 0;
        }
    }
    .set-game-path{
        padding:2em;
        text-align:center;
        width:100%;
        max-width:50em;
        margin:0 auto;
        p{
            padding:2em 0 0 0;
        }
        input{
            max-width:calc(100% - 12em);
            margin-right:1em;
        }
    }

    .checking-assets{
        text-align:center;
        width:100%;
        margin:0 auto;
        .progress-title{
            padding:1em 0 0.5em 0;
            font-size:1.2em;
            line-height:1;
        }
        .progress-text{
            padding:1em 0 0.5em 0;
            line-height:1;
        }
        .progress{
            max-width:30em;
            margin:0 auto;
            margin-top:1em;
            .bar{
                width:0%;
            }
        }
    }
}