.content.cars .coming-soon{
    padding:2em;
    text-align:center;
    width:100%;
    p{
        padding:2em 0;
    }
}

.cars-toolbar{
    nav{
        ul.menu{
            li.search-input{
                padding-top:0.35em;
                vertical-align:top;
                input{
                    max-width:15em;
                }
            }
        }
    }
}

.filter-country{
    
    h2{
        padding:2em 0 0 2em;
    }
    ul.select-list{
        padding:0 2em 2em 2em;
        li{
            padding:1em 1.5em;
            height:1em;
            img{
                width:1.5em;
                padding:0 0.5em 0 0;
                vertical-align:middle;
            }
        }
    }
}
