.content.cars .coming-soon{
    padding:2em;
    text-align:center;
    width:100%;
    p{
        padding:2em 0;
    }
}

.cars-toolbar{
    nav{
        ul.menu{
            li.search-input{
                padding-top:0.35em;
                vertical-align:top;
                input{
                    max-width:15em;
                }
            }
        }
    }

    .close-btn{
        width:2em;
        margin:0.75em 2em 0 0;
        opacity:0.3;
        cursor:pointer;
        transition:opacity 0.25s ease-in-out;
    }
    .close-btn:hover{
        opacity:1;
    }
}

.cars-filter{
    position:absolute;
}

.filter-view{
    ul.select-list{
        padding:0 2em 2em 2em;
        li{
            padding:1em 1.5em;
            height:1em;
            img{
                width:1.5em;
                padding:0 0.5em 0 0;
                vertical-align:middle;
            }
        }
    }
}

.filter-country{
    ul.select-list{
        padding:0 2em 2em 2em;
        li{
            padding:1em 1.5em;
            height:1em;
            img{
                width:1.5em;
                padding:0 0.5em 0 0;
                vertical-align:middle;
            }
        }
    }
}

.filter-manufacturer{
    ul.select-list{
        padding:0 2em 2em 2em;
        li{
            padding:1em 1.5em;
            height:1em;
            img{
                width:1.5em;
                padding:0 0.5em 0 0;
                vertical-align:middle;
            }
        }
    }
}

.filter-model{
    ul.select-list{
        padding:0 2em 2em 2em;
        li{
            padding:1em 1.5em;
            height:1em;
            img{
                width:1.5em;
                padding:0 0.5em 0 0;
                vertical-align:middle;
            }
        }
    }
}

.filter-year{
    ul.select-list{
        padding:0 2em 2em 2em;
        li{
            padding:1em 1.5em;
            height:1em;
            img{
                width:1.5em;
                padding:0 0.5em 0 0;
                vertical-align:middle;
            }
        }
    }
}

.filter-type{
    ul.select-list{
        padding:0 2em 2em 2em;
        li{
            padding:1em 1.5em;
            height:1em;
            img{
                width:1.5em;
                padding:0 0.5em 0 0;
                vertical-align:middle;
            }
        }
    }
}

.filter-style{
    ul.select-list{
        padding:0 2em 2em 2em;
        li{
            padding:1em 1.5em;
            height:1em;
            img{
                width:1.5em;
                padding:0 0.5em 0 0;
                vertical-align:middle;
            }
        }
    }
}

.filter-specialization{
    ul.select-list{
        padding:0 2em 2em 2em;
        li{
            padding:1em 1.5em;
            height:1em;
            img{
                width:1.5em;
                padding:0 0.5em 0 0;
                vertical-align:middle;
            }
        }
    }
}

.cars-content{
    .grid-view{
        max-width:100vw;
        display:grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap:1em;
        margin:1em;
        .car{
            img{
                width:100%;
            }
            .info{
                h2{
                    font-size:1em;
                    font-weight:normal;
                    margin:0.25em 0 0.5em 0;
                    line-height:1.25;
                    opacity:0.75;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}
