<div class="filter-country scale-ui">
    <ul class="select-list">
        <li data-country="all"><image src="/images/flags/80x60/all.png"/>All Countries</li>
        <li data-country="us"><image src="/images/flags/80x60/us.png"/>USA</li>
        <li data-country="de"><image src="/images/flags/80x60/de.png"/>Germany</li>
        <li data-country="jp"><image src="/images/flags/80x60/jp.png"/>Japan</li>
        <li data-country="it"><image src="/images/flags/80x60/it.png"/>Italy</li>
        <li data-country="fr"><image src="/images/flags/80x60/fr.png"/>France</li>
        <li data-country="es"><image src="/images/flags/80x60/es.png"/>Spain</li>
        <li data-country="uk"><image src="/images/flags/80x60/gb.png"/>UK</li>
        <li data-country="cn"><image src="/images/flags/80x60/cn.png"/>China</li>
        <li data-country="ru"><image src="/images/flags/80x60/ru.png"/>Russia</li>
    </ul>
</div>