<div class="filter-view scale-ui">
    <ul class="select-list">
        <li data-view="grid" onclick="RacerUI.views.cars.views.changeView('grid')"><img src="/images/flags/80x60/all.png"/>Grid</li>
        <li data-view="gridsm" onclick="RacerUI.views.cars.views.changeView('gridsm')"><img src="/images/flags/80x60/all.png"/>Small Grid</li>
        <li data-view="gridxl" onclick="RacerUI.views.cars.views.changeView('gridxl')"><img src="/images/flags/80x60/all.png"/>Large Grid</li>
        <li data-view="gallery" onclick="RacerUI.views.cars.views.changeView('gallery')"><img src="/images/flags/80x60/us.png"/>Gallery</li>
    </ul>
</div>